<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Danh sách đã xóa</title>
  <th:block th:replace="layout/head :: head"/>
</head>
<body>
<div class="preloader">
  <div class="lds-ripple">
    <div class="lds-pos"></div>
    <div class="lds-pos"></div>
  </div>
</div>
<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
     data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
  <th:block th:replace="layout/navBar :: navBar"/>
  <th:block th:replace="layout/sideBar :: sideBar"/>

  <!-- ============================================================== -->
  <!--Primary Content-->
  <div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb bg-white">
      <div class="row align-items-center">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <h4 class="page-title">Quản lý đã xóa</h4>
        </div>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
      <div class="row">
        <div class="col text-end">
          <a class="btn btn-outline-primary" id="createCatalogsMaterial" th:href="@{/catalogsMaterial}"><i class="fa fa-arrow-left"></i> Quay lại
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <table class="table table-hover" id="tblCatalogsMaterial">
            <thead>
            <tr>
              <th scope="col" class="fw-bold fs-5">CatalogsMaterial</th>
              <th scope="col" class="fw-bold fs-5">Create at</th>
              <th scope="col" class="text-center fw-bold fs-5">Action</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="catalogsMaterial: ${catalogsMaterials}">
              <tr th:id="'tr_'+ ${catalogsMaterial.id}">
                <td th:text="${catalogsMaterial.name}"></td>
                <td th:text="${catalogsMaterial.createdAt}"></td>
                <td class="text-center">
                  <button class="btn btn-outline-warning restoreCatalogsMaterial" th:data-id="${catalogsMaterial.id}"><i
                          class="fa fa-undo"></i></button>
                </td>
              </tr>
            </th:block>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <th:block th:replace="layout/footer :: footer"/>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
  </div>
</div>
<th:block th:replace="layout/script :: script"/>
<th:block th:replace="catalogsMaterial/restore :: restore"/>
<script src="/assets/App/appCatalogMaterial.js"></script>
<script src="/assets/App/validatedCatalogsMaterial.js"></script>
<script>
  function handlerRestore(){
    $("button.restoreCatalogsMaterial").on("click",function (){
      let id = $(this).data("id");
      $.ajax({
        type: "GET",
        url: "/api/catalogsMaterial/" + id
      })
              .done(function (data) {
                $("#idCatalogsMaterialRestore").val(data.id);
                $("#nameCatalogsMaterialRestore").val(data.name);
                $("#restore").modal("show");
              })
              .fail(function (resp) {
                window.location = "https://viblo.asia.vn";
              })
    });
  }
  handlerRestore();
</script>
</body>
</html>