
.show {
    display: block !important;
}

.hide{
    display: none !important;
}

.modal-alert-danger {
    padding: 10px 35px;
    margin-bottom: 15px;
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

label.error {
    display: list-item;
    margin-top: 5px !important;
    color: #842029 !important;
}

input.error {
    border: solid 1px red !important;
}

div.dataTables_length {
    /*Example*/
    text-align: left;
}
div.loader {
    position: absolute;
    z-index: 1070;
    top: 50%;
    left: 50%;
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
img#previewImg{
    cursor: pointer;
}

div.dt-button-collection {
    width: 400px;
}

div.dt-button-collection button.dt-button {
    display: inline-block;
    width: 32%;
}
div.dt-button-collection button.buttons-colvis {
    display: inline-block;
    width: 49%;
}
div.dt-button-collection h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 100;
    border-bottom: 1px solid #9f9f9f;
    font-size: 1em;
}
div.dt-button-collection h3.not-top-heading {
    margin-top: 10px;
}