<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Danh sách chức vụ</title>
    <th:block th:replace="layout/head :: head"/>
</head>
<body>
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
     data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
    <th:block th:replace="layout/navBar :: navBar"/>
    <th:block th:replace="layout/sideBar :: sideBar"/>

    <!-- ============================================================== -->
    <!--Primary Content-->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb bg-white">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Quản lý chức vụ</h4>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <div class="row">
                <div class="col text-end">
                    <button class="btn btn-outline-primary" id="createPosition"><i class="fa fa-plus-square"></i> Tạo chức vụ mới</button>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <table class="table table-hover" id="tblPosition">
                        <thead>
                        <tr>
                            <th scope="col" class="fw-bold fs-3">Chức vụ</th>
                            <th scope="col" class="fw-bold fs-3">Ngày tạo</th>
                            <th scope="col" colspan="2" class="text-center fw-bold fs-3">Thao tác</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each= "position, count: ${positions}">
                            <tr th:id="'tr_'+ ${position.id}">
                                <td th:text="${position.name}"></td>
                                <td th:text="${position.createAt}"></td>
                                <td class="text-center"><button class="btn btn-outline-warning editPosition" th:data-id="${position.id}"><i class="fa fa-pencil-alt"></i></button></td>
                                <td class="text-center"><button class="btn btn-outline-danger deletePosition" th:data-id="${position.id}"><i class="fa fa-trash"></i></button></td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <th:block th:replace="layout/footer :: footer"/>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
</div>
<th:block th:replace="layout/script :: script"/>
<th:block th:replace="positions/modalCreate :: modalCreate"/>
<th:block th:replace="positions/modalEdit :: modalEdit"/>
<script src="./assets/App/appPosition.js"></script>
<script src="./assets/App/validatedPosition.js"></script>
<script>
    $("#createPosition").on("click", function (){
        $("#modalCreate").modal("show");
    });
    handlerAction();
</script>

</body>
</html>