<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="modalSplitOrder">

    <div class="modal" id="modalSplitOrder" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tách đơn</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                            <div class="form-group row">
                                <div class="col-4">
                                    <label for="catalogDropDownList" class="form-label fw-bold">Tách đến: </label>
                                </div>
                                <div class="col-8">
                                    <select class="form-select" style="width: 50%" id="catalogDropDownList">
                                        <option value="0" disabled selected >--Vui lòng chọn bàn--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <table class="table" style="width: 100%">
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Tên đồ uống</th>
                                            <th scope="col">SL trên đơn tách</th>
                                            <th scope="col">Sl tách</th>
                                        </tr>
                                        </thead>
                                        <tbody class="list-oldOrder">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="confirmSplit">Tách bàn</button>
                    </div>
                </div>
            </div>
        </div>

</th:block>