<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="sideBar">
    <aside class="left-sidebar" data-sidebarbg="skin6">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <!-- User Profile-->
                    <li class="sidebar-item pt-2">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/home"
                           aria-expanded="false">
                            <i class="far fa-clock" aria-hidden="true"></i>
                            <span class="hide-menu ms-2"> Dashboard</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/orders"
                           aria-expanded="false">
                            <i class="fa fa-dollar-sign mr-2" aria-hidden="true"></i>
                            <span class="hide-menu ms-2"> Tạo order</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/bills"
                           aria-expanded="false">
                            <i class="fa fa-money-bill" aria-hidden="true"></i>
                            <span class="hide-menu ms-2"> Quản lý hóa đơn</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/drinks"
                           aria-expanded="false">
                            <i class="fa fa-mug-hot" aria-hidden="true"></i>
                            <span class="hide-menu ms-2"> Quản lý thức uống</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/tables"
                           aria-expanded="false">
                            <i class="fa fa-table" aria-hidden="true"></i>
                            <span class="hide-menu ms-2"> Quản lý bàn</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/staffs"
                           aria-expanded="false">
                            <i class="fa fa-person" aria-hidden="true"></i>
                            <span class="hide-menu ms-2"> Quản lý nhân viên</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/users"
                           aria-expanded="false">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <span class="hide-menu ms-2"> Quản lý User</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/discounts"
                           aria-expanded="false">
                            <i class="fa fa-tags" aria-hidden="true"></i>
                            <span class="hide-menu ms-2"> Quản lý mã khuyến mãi</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
</th:block>