<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="modalChangePass">
    <div class="modal" tabindex="-1" id="modalChangePass">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thay đổi mật khẩu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-alert-danger hide">
                    </div>
                    <form id="frmChangePass">
                        <input type="text" class="form-control" id="usernamechangePass" name="usernamechangePass"
                               hidden>
                        <div class="col">
                            <label for="password" class="form-label fw-bold">Mật khẩu:</label>
                            <!--                            <input type="text" class="form-control" id="changePass" name="changePass"/>-->
                            <div class="input-group mb-3">
                                <input name="password" type="password" value="" class="input form-control" id="password"
                                       placeholder="Mật khẩu" required="true" aria-label="password"
                                       aria-describedby="basic-addon1"/>
                                <div class="input-group-append">
                                    <span class="input-group-text h-100" onclick="password_show_hide();">
                                      <i class="fas fa-eye" id="show_eye"></i>
                                      <i class="fas fa-eye-slash d-none" id="hide_eye"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-primary" id="btnChangePass">Thay đổi</button>
                </div>
            </div>
        </div>
    </div>
    <div class="loader hide"></div>
    <script>
        $("button#btnChangePass").on('click', function () {
            $("#frmChangePass").trigger("submit");
        });

        function changePass() {
            let user = {
                username: $("input#usernamechangePass").val(),
                password: $("input#password").val().trim(),
            };
            $(".loader").removeClass('hide');
            $.ajax({
                headers: {
                    "Accept": "application/json",
                    "Content-type": "application/json"
                },
                type: "PUT",
                url: "/api/profile/changepass",
                data: JSON.stringify(user)
            })
                .done(function (data) {
                    swal("Thành công", "Mật khẩu đã được thay đổi", "success").then(function () {
                        location.reload();
                    });
                })
                .fail(function (jqXHR) {
                    let str = ``;
                    if (jqXHR.responseJSON) {
                        $.each(jqXHR.responseJSON, function (key, value) {
                            str += `<label id= "${key}-error" class="error" for="${key}">${value}</label>`;
                            $("#" + key).addClass("error");
                        });
                    } else {
                        str += `<label id= "message-error" class= "error" for= "message">ERROR_400</label>`;
                    }
                    $("#modalChangePass .modal-body .modal-alert-danger").removeClass("hide").addClass("show");
                    $("#modalChangePass .modal-body .modal-alert-danger").html(str);
                })
                .always(function () {
                    $(".loader").addClass('hide');
                })
        };
        $("img.changeAvatar").on('click', function () {
            $("#modalChangeAvatar").modal('show');
        });
        $("#changePass").on('click', function () {
            $("#modalChangePass").modal('show');
        });

        $("#modalChangePass").on('hidden.bs.modal', function () {
            $("#modalChangePass .modal-body .modal-alert-danger").empty();
            $("#modalChangePass .modal-body .modal-alert-danger").removeClass("show").addClass("hide");
            $("#modalChangePass input.error").removeClass("error");
            $("#frmChangePass")[0].reset();
        });

        function password_show_hide() {
            var x = document.getElementById("password");
            var show_eye = document.getElementById("show_eye");
            var hide_eye = document.getElementById("hide_eye");
            hide_eye.classList.remove("d-none");
            if (x.type === "password") {
                x.type = "text";
                show_eye.style.display = "none";
                hide_eye.style.display = "block";
            } else {
                x.type = "password";
                show_eye.style.display = "block";
                hide_eye.style.display = "none";
            }
        }
    </script>
</th:block>
