<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="editDiscount">
    <div class="modal" tabindex="-1" id="editDiscount">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Discount</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-alert-danger hide">
                    </div>
                    <form id="frmEditDiscount">
                        <input type="text" class="form-control" id="idDiscountEdit" hidden>
                        <div class="row">
                            <div class="col col-md-6">
                                <label for="codeDiscountEdit" class="form-label fw-bold">Mã khuyến mãi</label>
                                <input type="text" class="form-control" id="codeDiscountEdit" name="codeEdit">
                            </div>
                            <div class="col col-md-6">
                                <label for="descriptionDisCountEdit" class="form-label fw-bold">Mô tả</label>
                                <input type="text" class="form-control" id="descriptionDisCountEdit" name="descriptionEdit">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-6">
                                <label for="percentDiscountEdit" class="form-label fw-bold">% khuyến mãi</label>
                                <input type="number" class="form-control" id="percentDiscountEdit" name="percentDiscountEdit">
                            </div>
                            <div class="col col-md-6">
                                <label for="createdAtDiscountEdit" class="form-label fw-bold">Thời gian bắt đầu</label>
                                <input type="date" class="form-control" id="createdAtDiscountEdit" name="createdAtEdit">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-6">
                                <label for="endedAtDiscountEdit" class="form-label fw-bold">Thời gian kết thúc</label>
                                <input type="date" class="form-control" id="endedAtDiscountEdit" name="endedAtEdit">
                            </div>
                            <div class="col col-md-6">
                                <label for="quantityDiscountEdit" class="form-label fw-bold">Số lượng</label>
                                <input type="number" class="form-control" id="quantityDiscountEdit" name="quantityEdit">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-primary" id="btnEditDiscount">Edit</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $("#btnEditDiscount").on("click", function (){
            $("#frmEditDiscount").trigger("submit");
        });

        function editDiscount(){
            let dateStart = new Date($("#createdAtDiscountEdit").val()).toISOString().slice(0,10);
            let dateEnd = new Date($("#endedAtDiscountEdit").val()).toISOString().slice(0,10);
            let discount = new Discount($("#codeDiscountEdit").val().trim());
            discount.description = frmEditDiscount.descriptionEdit.value;
            discount.percentDiscount = frmEditDiscount.percentDiscountEdit.value;
            discount.createdAt = dateStart;
            discount.endedAt = dateEnd;
            discount.quantity = frmEditDiscount.quantityEdit.value;
            console.log(discount);
            let id = $("#idDiscountEdit").val();
            $.ajax({
                headers: {
                    "Accept": "application/json",
                    "Content-type": "application/json"
                },
                type: "PUT",
                url: "/api/discount/edit/" + id,
                data: JSON.stringify(discount)
            })
                .done(function (data){
                    let str= `
                    <tr id="tr_${data.id}">
                            <td>${data.code}</td>
                            <td>${data.description}</td>
                            <td>${data.percentDiscount}</td>
                            <td>${data.createdAt}</td>
                            <td>${data.endedAt}</td>
                            <td>${data.quantity}</td>

                            <td><button class="btn btn-outline-warning editDiscount" data-id="${data.id}"><i class="fa fa-pencil-alt"></i></button></td>
                            <td><button class="btn btn-outline-danger deleteDiscount" data-id="${data.id}"><i class="fa fa-trash"></i></button></td>
                        </tr>
                `;
                    swal("Thành công", "Sửa khuyến mại thành công", "success");
                    $("#tr_"+id).replaceWith(str);
                    $("#editDiscount").modal("hide");
                    $("#frmEditDiscount")[0].reset();
                    handlerActionDiscount();
                })
                .fail(function (jqXHR){
                    let str = ``;
                    if (jqXHR.responseJSON) {
                        $.each(jqXHR.responseJSON, function (key, value) {
                            str += `<label id= "${key}-error" class="error" for="${key}">${value}</label><br>`;
                            $("#" + key).addClass("error");
                        });
                    } else {
                        str += `<label id= "message-error" class= "error" for= "message">ERROR_400</label>`;
                    }
                    $("#editDiscount .modal-body .modal-alert-danger").removeClass("hide").addClass("show");
                    $("#editDiscount .modal-body .modal-alert-danger").html(str);
                })
        }

    </script>

</th:block>
