<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="modalRestoreDrink">
    <div class="modal" tabindex="-1" id="modalRestoreDrink">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cập nhật thức uống</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="modal-alert-danger hide">

                    </div>
                    <form id="frmRestoreDrink">
                        <div class="row">
                            <div class="mb-3 col-6">
                                <input type="text" id="idDrinkRestore" hidden>
                                <label for="drinkNameRestore" class="form-label fw-bold">Tên thức uống</label>
                                <input type="text" class="form-control" id="drinkNameRestore" name="drinkNameRestore">
                            </div>
                            <div class=" mb-3 col-6">
                                <label for="priceDrinkRestore" class="form-label fw-bold">Giá thức uống</label>
                                <input type="text" class="form-control num-space"
                                       id="priceDrinkRestore" name="priceDrinkRestore">
                            </div>
                            <div class="row">
                                <div class=" mb-3 col">
                                    <label for="catalogsRestore" class="form-label fw-bold">Danh mục</label>
                                    <select class="form-select" id="catalogsRestore">

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col">
                                <label for="desDrinkRestore" class="form-label fw-bold">Mô tả</label>
                                <textarea class="form-control" id="desDrinkRestore" name="desDrinkRestore"
                                          rows="4" cols="100%"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-outline-primary" id="btnRestoreDrink">Khôi phục thức uống
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script>
        function restoreDrink() {
            let id = $("#idDrinkRestore").val();
            let form = new FormData();
            form.append("id", id);
            form.append("name", $("#drinkNameRestore").val());
            form.append("price", App.removeFormatNumberSpace($("#priceDrinkRestore").val()));
            form.append("catalog", $("#catalogsRestore").val());
            form.append("description", $("#desDrinkRestore").val());
            $(".loader").removeClass('hide');
            $.ajax({
                type: "PUT",
                contentType: false,
                cache: false,
                processData: false,
                url: "/api/drinks/restore/" + id,
                data: form
            })
                .done(function (data) {
                    swal("Thành công", "Thức uống đã được khôi phục", "success").then(function () {
                        location.reload();
                    });
                })
                .fail(function (jqXHR) {
                    let str = ``;
                    if (jqXHR.responseJSON) {
                        $.each(jqXHR.responseJSON, function (key, value) {
                            str += `<label id= "${key}-error" class="error" for="${key}">${value}</label><br>`;
                            $("#" + key).addClass("error");
                        });
                    } else {
                        str += `<label id= "message-error" class= "error" for= "message">ERROR_400</label>`;
                    }
                    $("#modalRestoreDrink .modal-body .modal-alert-danger").removeClass("hide").addClass("show");
                    $("#modalRestoreDrink .modal-body .modal-alert-danger").html(str);
                })
                .always(function () {
                    $(".loader").addClass('hide');
                })
        }
    </script>
</th:block>