<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="modalCreateDrink">
    <div class="modal" tabindex="-1" id="modalCreateDrink">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thêm mới thức uống</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="modal-alert-danger hide">

                    </div>
                    <form id="frmCreateDrink">
                        <div class="row">
                            <div class="mb-3 col-6">
                                <label for="drinkNameCreate" class="form-label fw-bold">Tên thức uống</label>
                                <input type="text" class="form-control" id="drinkNameCreate" name="drinkNameCreate">
                            </div>
                            <div class="mb-3 col-6">
                                <label for="priceDrinkCreate" class="form-label fw-bold">Giá thức uống</label>
                                <input type="text" class="form-control number-separator inNumber" id="priceDrinkCreate"
                                       name="priceDrinkCreate">
                            </div>
                            <div class="mb-3 col-6">
                                <label for="catalogsCreate" class="form-label fw-bold">Danh mục</label>
                                <select class="custom-select" id="catalogsCreate">

                                </select>
                            </div>
                            <div class="mb-3 col-6">
                                <label for="inventoryDrinkCreate" class="form-label fw-bold">Số lượng nhập</label>
                                <input type="text" class="form-control number-separator inNumber" id="inventoryDrinkCreate"
                                       name="priceDrinkCreate">
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col">
                                <label for="desDrinkCreate" class="form-label fw-bold">Mô tả</label>
                                <textarea class="form-control" id="desDrinkCreate" name="desDrinkCreate" rows="4"
                                          cols="100%"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-outline-primary" id="btnCreateDrink">Tạo thức uống</button>
                </div>
            </div>
        </div>
    </div>

</th:block>