<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:replace="layout/head :: head"/>
    <meta charset="UTF-8">
    <title>Quản lý danh mục</title>
</head>
<body>
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>


<!-- Page Wrapper -->
<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
     data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
    <th:block th:replace="layout/navBar :: navBar"/>
    <th:block th:replace="layout/sideBar :: sideBar"/>

    <!-- ============================================================== -->
    <!--Primary Content-->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb bg-white">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Quản lý danh mục</h4>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <div class="row">
                <div class="col text-end">
                    <button class="btn btn-outline-primary" id="createCatalog"><i class="fa fa-plus-square"></i> Tạo
                        danh mục̣ mới
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <table class="table table-hover w-75" id="tblCatalog">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Tên danh mục</th>
                            <th scope="col" colspan="2" class="text-center">Thao tác</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="catalog: ${catalogs}">
                            <tr th:id="'tr_'+ ${catalog.id}">
                                <td th:text="${catalog.id}"></td>
                                <td th:text="${catalog.catalogName}"></td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-outline-primary editCatalog"
                                            th:data-id="${catalog.id}">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                </td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-outline-danger deleteCatalog"
                                            th:data-id="${catalog.id}">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col mb-2">
                            <div class="d-flex justify-content-end">
                                <a type="button" class="btn btn-danger restoreCatalog" href="/catalogs/deleted">
                                    <i class="fa fa-trash-restore"></i>
                                    Khôi phục danh mục
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <th:block th:replace="layout/footer :: footer"/>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
</div>
<th:block th:replace="layout/script :: script"/>
<th:block th:replace="catalog/modalCreateCatalog :: modalCreateCatalog"/>
<th:block th:replace="catalog/modalUpdateCatalog :: modalUpdateCatalog"/>
<th:block th:replace="catalog/modalDeleteCatalog :: modalDeleteCatalog"/>
<!--<script src="./assets/App/validatedCatalog.js"></script>-->

<script>

    $("#createCatalog").on("click", function () {
        $("#modalCreateCatalog").modal("show");
    });


    handlerShowModalDeleteCatalog();
    handlerShowModalEditCatalog();

    function createCatalog() {
        let catalog = {
            catalogName: $("#catalogNameCreate").val()
        };
        $.ajax({
            headers: {
                "Accept": "application/json",
                "Content-type": "application/json"
            },
            type: "POST",
            url: "/api/catalogs/create",
            data: JSON.stringify(catalog)
        })
            .done(function (data) {
                let str = `
                        <tr th:id="'tr_'+ ${data.id}">
                                    <td>${data.id}</td>
                                    <td>${data.catalogName}</td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-outline-primary editCatalog" data-id="${data.id}">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                    </td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-outline-danger deleteCatalog"
                                                data-id="${data.id}">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                        </tr>
                    `;
                $("#tblCatalog tbody").prepend(str);
                $("#modalCreateCatalog").modal("hide");
                $("#frmCreateCatalog")[0].reset();
                swal("thành công", "Danh mục mới đã được thêm", "success");
                handlerShowModalEditCatalog();
                handlerShowModalDeleteCatalog();
            })
            .fail(function (jqXHR) {
                let str = ``;
                if (jqXHR.responseJSON) {
                    $.each(jqXHR.responseJSON, function (key, value) {
                        str += `<label id= "${key}-error" class="error" for="${key}">${value}</label><br>`;
                        $("#" + key).addClass("error");
                    });
                } else {
                    str += `<label id= "message-error" class= "error" for= "message">ERROR_400</label>`;
                }
                $("#modalCreateCatalog .modal-body .modal-alert-danger").removeClass("hide").addClass("show");
                $("#modalCreateCatalog .modal-body .modal-alert-danger").html(str);
            })
    }

    function updateCatalog() {
        let catalog = {
            id: $("#idCatalogUpdate").val(),
            catalogName: $("#catalogNameUpdate").val(),
        };
        $.ajax({
            headers: {
                "Accept": "application/json",
                "Content-type": "application/json"
            },
            type: "PUT",
            url: "/api/catalogs/update",
            data: JSON.stringify(catalog)
        })
            .done(function (data) {
                let str = `
                        <tr id="tr_${data.id}">
                                    <td>${data.id}</td>
                                    <td>${data.catalogName}</td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-outline-primary editCatalog" data-id="${data.id}">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                    </td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-outline-danger deleteCatalog"
                                                data-id="${data.id}">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                        </tr>
                    `;
                let currentRow = $("#tr_" + data.id);
                console.log(currentRow);
                currentRow.replaceWith(str);
                $("#modalUpdateCatalog").modal("hide");
                $("#frmUpdateCatalog")[0].reset();
                swal("Cập nhật thành công", "Danh mục đã được chỉnh sửa", "success");
                handlerShowModalEditCatalog();
                handlerShowModalDeleteCatalog();
            })
            .fail(function (jqXHR) {
                let str = ``;
                if (jqXHR.responseJSON) {
                    $.each(jqXHR.responseJSON, function (key, value) {
                        str += `<label id="${key}-error" class="error" for="${key}">${value}</lable><br>`;
                        $("#" + key).addClass("error");
                    });
                } else {
                    str += `<label id= "message-error" class= "error" for= "message">ERROR_400</label>`;
                }
                $("#modalUpdateCatalog .modal-body .modal-alert-danger").removeClass("hide").addClass("show");
                $("#modalUpdateCatalog .modal-body .modal-alert-danger").html(str);
            })
    }

    function deleteCatalog() {

        let catalog = {
            id: $("#idCatalogDelete").val(),
            catalogName: $("#catalogNameDelete").val(),
        };
        $.ajax({
            headers: {
                "Accept": "application/json",
                "Content-type": "application/json"
            },
            type: "PUT",
            url: "/api/catalogs/delete",
            data: JSON.stringify(catalog)
        })
            .done(function (data) {
                let currentRow = $("#tr_" + data.id);
                currentRow.remove();
                $("#modalDeleteCatalog").modal("hide");
                $("#frmDeleteCatalog")[0].reset();
                swal("Cập nhật thành công", "Danh mục đã được xoá", "success");
            })
            .fail(function (jqXHR) {
                let str = ``;
                if (jqXHR.responseJSON) {
                    $.each(jqXHR.responseJSON, function (key, value) {
                        str += `<label id="${key}-error" class="error" for="${key}">${value}</lable><br>`;
                        $("#" + key).addClass("error");
                    });
                } else {
                    str += `<label id= "message-error" class= "error" for= "message">ERROR_400</label>`;
                }
                $("#modalDeleteCatalog .modal-body .modal-alert-danger").removeClass("hide").addClass("show");
                $("#modalDeleteCatalog .modal-body .modal-alert-danger").html(str);
            })
    }

    function restoreCatalog() {
        let catalog = {
            id: $("#idCatalogRestore").val(),
            catalogName: $("#catalogNameRestore").val(),
        };
        $.ajax({
            headers: {
                "Accept": "application/json",
                "Content-type": "application/json"
            },
            type: "PUT",
            url: "/api/catalogs/restore",
            data: JSON.stringify(catalog)
        })
            .done(function (data) {
                let currentRow = $("#tr_" + data.id);
                currentRow.remove();
                $("#modalRestoreCatalog").modal("hide");
                $("#frmRestoreCatalog")[0].reset();
                swal("Cập nhật thành công", "Danh mục đã được khôi phục", "success");
            })
            .fail(function (jqXHR) {
                let str = ``;
                if (jqXHR.responseJSON) {
                    $.each(jqXHR.responseJSON, function (key, value) {
                        str += `<label id="${key}-error" class="error" for="${key}">${value}</lable><br>`;
                        $("#" + key).addClass("error");
                    });
                } else {
                    str += `<label id= "message-error" class= "error" for= "message">ERROR_400</label>`;
                }
                $("#modalRestoreCatalog .modal-body .modal-alert-danger").removeClass("hide").addClass("show");
                $("#modalRestoreCatalog .modal-body .modal-alert-danger").html(str);
            })
    }

    function handlerShowModalEditCatalog() {
        $("button.editCatalog").on("click", function () {
            let id = $(this).data("id");
            $.ajax({
                type: "GET",
                url: "/api/catalogs/" + id
            })
                .done(function (data) {
                    $("#idCatalogUpdate").val(data.id);
                    $("#catalogNameUpdate").val(data.catalogName);
                    $("#modalUpdateCatalog").modal("show");
                })
                .fail(function (resp) {
                    alert("Show modal update catalog error");
                })
        });
    }

    function handlerShowModalDeleteCatalog() {
        $("button.deleteCatalog").on("click", function () {
            let id = $(this).data("id");
            $.ajax({
                type: "GET",
                url: "/api/catalogs/" + id
            })
                .done(function (data) {
                    $("#idCatalogDelete").val(data.id);
                    $("#catalogNameDelete").val(data.catalogName);
                    $("#modalDeleteCatalog").modal("show");
                })
                .fail(function (resp) {
                    alert("Show modal delete catalog error");
                })
        });
    }

    //set event for button Create
    $("#btnCreateCatalog").on("click", function () {
        createCatalog();
    });
    //reset modal Create
    $("#modalCreateCatalog").one('hidden.bs.modal', function () {
        $("#modalCreateCatalog .modal-body .modal-alert-danger").empty();
        $("#modalCreateCatalog .modal-body .modal-alert-danger").removeClass("show").addClass("hide");
        $("#modalCreateCatalog input.error").removeClass("error");
        $("#frmCreateCatalog")[0].reset();
    });

    // set event for button update
    $("#btnUpdateCatalog").on("click", function () {
        updateCatalog()
    });

    $("#modalUpdateCatalog").one('hidden.bs.modal', function () {
        $("#modalUpdateCatalog .modal-body .modal-alert-danger").empty();
        $("#modalUpdateCatalog .modal-body .modal-alert-danger").removeClass("show").addClass("hide");
        $("#modalUpdateCatalog input.error").removeClass("error");
        $("#frmUpdateCatalog")[0].reset();
    });


    //set event for button Restore
    $("#btnRestoreCatalog").on("click", function () {
        $("#frmRestoreCatalog").trigger("submit");
    });

    $("#modalRestoreCatalog").one('hidden.bs.modal', function () {
        $("#modalRestoreCatalog .modal-body .modal-alert-danger").empty();
        $("#modalRestoreCatalog .modal-body .modal-alert-danger").removeClass("show").addClass("hide");
        $("#modalRestoreCatalog input.error").removeClass("error");
        $("#frmRestoreCatalog")[0].reset();
    });


    //set event for button Delete
    $("#btnDeleteCatalog").on("click", function () {
        deleteCatalog()
    });

    $("#modalDeleteCatalog").one('hidden.bs.modal', function () {
        $("#modalDeleteCatalog .modal-body .modal-alert-danger").empty();
        $("#modalDeleteCatalog .modal-body .modal-alert-danger").removeClass("show").addClass("hide");
        $("#modalDeleteCatalog input.error").removeClass("error");
        $("#frmDeleteCatalog")[0].reset();
    });
</script>
</body>
</html>