<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quản lý user</title>
    <th:block th:replace="layout/head :: head"/>
</head>
<body>
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
     data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
    <th:block th:replace="layout/navBar :: navBar"/>
    <th:block th:replace="layout/sideBar :: sideBar"/>

    <!-- ============================================================== -->
    <!--Primary Content-->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb bg-white">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Danh sách user đã xóa</h4>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col text-end">
                    <a class="btn btn-outline-primary" th:href="@{/users}"><i
                            class="fa fa-arrow-left"></i> Quay lại
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <table class="table table-striped" id="tblUserDelete">
                        <thead>
                        <tr>
                            <th scope="col" class="fw-bold fs-5">Tên đăng nhập</th>
                            <th scope="col" class="fw-bold fs-5">Tên nhân viên</th>
                            <th scope="col" class="fw-bold fs-5">Chức vụ</th>
                            <th scope="col" class="fw-bold fs-5">Avatar</th>
                            <th scope="col" class="text-center fw-bold fs-5">Thao tác</th>
                        </tr>
                        </thead>
                        <tbody>
<!--                        <th:block th:each="user: ${users}">-->
<!--                            <tr th:id="'tr_'+ ${user.id}">-->
<!--                                <td th:text="${user.username}"></td>-->
<!--                                <td th:text="${user.staff.name}"></td>-->
<!--                                <td th:text="${user.staff.position.name}"></td>-->
<!--                                <td th:text="${user.staff.createAt}"></td>-->
<!--                                <td th:if="${user.avatar} != null"><img th:src="${user.avatar.fileUrl}" width="50px"/></td>-->
<!--                                <td th:if="${user.avatar} == null"><img src="/assets/plugins/images/users/1.jpg" width="50px"/></td>-->
<!--                                <td class="text-center">-->
<!--                                    <button class="btn btn-outline-warning restoreUser" th:data-id="${user.id}"><i-->
<!--                                            class="fa fa-undo"></i></button>-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                        </th:block>-->
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <th:block th:replace="layout/footer :: footer"/>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
</div>
<th:block th:replace="layout/script :: script"/>
<th:block th:replace="users/modalRestore :: modalRestore"/>
<script src="/assets/App/appUser.js"></script>
<script src="/assets/App/validatedUser.js"></script>
<script th:inline="javascript">
    var listUser = [[${users}]];
    $("#tblUserDelete").DataTable({
        data: listUser,
        columns: [
            {data: 'username'},
            {data: 'staff.name'},
            {data: 'staff.position.name', searchable: false},
            {
                data: 'avatar.fileUrl', render: function (data, type, row, meta) {
                    // var img = data.fileUrl;
                    if (data == null) {
                        return '<img src="/assets/plugins/images/users/1.jpg" width="50px"/>';
                    } else {
                        return `<img src="${data}" width="50px"/>`;
                    }
                }
            },
            {
                data: 'id', render: function (data, type, row, meta) {
                    return `<button class="btn btn-outline-warning restoreUser" data-id="${data}"><i class="fa fa-undo"></i></button>`;
                }
            },
        ],
    });

</script>
<script>
    $("button.restoreUser").on("click", function () {
        let id = $(this).data("id");
        $.ajax({
            type: "GET",
            url: "/api/users/" + id
        })
            .done(function (data) {
                $("#idRestore").val(data.id);
                $("#usernameRestore").val(data.username);
                $("#passRestore").val(data.password);
                $("#staffRestore").val(data.staff.name);
                $("#modalRestore").modal("show");
            })
            .fail(function (resp) {
                window.location = "/errors";
            })
    });
</script>

</body>
</html>