<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="modalCreate">
    <div class="modal" tabindex="-1" id="modalCreate">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Tạo user mới</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-alert-danger hide">
                    </div>
                    <form id="frmCreateUser">
                        <div class="row">
                            <div class="col col-md-6">
                                <label for="usernameCre" class="form-label fw-bold">Tên đăng nhập:</label>
                                <input type="text" class="form-control" id="usernameCre" name="usernameCre">
                            </div>
                            <div class="col col-md-6">
                                <label for="passCre" class="form-label fw-bold">Mật khẩu:</label>
                                <input type="password" class="form-control" id="passCre" name="passCre">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-6">
                                <label for="staffCre" class="form-label fw-bold">Nhân viên được cấp:</label>
                                <select class="form-select" id="staffCre">

                                </select>
                            </div>
                            <div class="col col-md-6">
                                <label for="uploadCre" class="form-label fw-bold">Ảnh đại diện:</label>
                                <input type="file" class="form-control" id="uploadCre" accept="image/jpeg, image.png" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-primary" id="btnCreateUser">Tạo user</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $("#btnCreateUser").on("click", function (){
            $("#frmCreateUser").trigger("submit");
        });

        function createUser(){
            let formData = new FormData();
            formData.append("username",$("#usernameCre").val().toString());
            formData.append("password", $("#passCre").val().toString());
            formData.append("id_staff", $("#staffCre").val().toString());
            if ($("#uploadCre")[0].files[0] != null){
                formData.append("file", $("#uploadCre")[0].files[0]);
            }
            $.ajax({
                type: "POST",
                contentType: false,
                cache: false,
                processData: false,
                url: "/api/users/create",
                data: formData
            })
            .done(function (data){
                let img;
                if (data.avatar == null){
                    img = `<img src="/assets/plugins/images/users/1.jpg" width="50px"/>`;
                }
                else {
                    img = `<img src="${data.avatar.fileUrl}" width="50px"/>`;
                }
                let str= `
                    <tr id="'tr_'+ ${data.id}">
                                <td>${data.username}</td>
                                <td>${data.password}</td>
                                <td>${data.staff.name}</td>
                                <td>${data.staff.position.name}</td>
                                <td>${data.staff.createAt}</td>
                                <td>${img}</td>
                                <td class="text-center">
                                    <button class="btn btn-outline-warning editUser" data-id="${data.id}"><i
                                            class="fa fa-pencil-alt"></i></button>
                                </td>
                                <td class="text-center">
                                    <button class="btn btn-outline-danger deleteUser" data-id="${data.id}"><i
                                            class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                `;
                $("#tblUser tbody").prepend(str);
                $("#modalCreate").modal("hide");
                $("#frmCreateUser")[0].reset();
                $("#staffCre option").remove();
                handlerActionUser();
                swal("Thành công", "User đã được cập nhật", "success");
            })
            .fail(function (jqXHR){
                let str = ``;
                if (jqXHR.responseJSON) {
                    $.each(jqXHR.responseJSON, function (key, value) {
                        str += `<label id= "${key}-error" class="error" for="${key}">${value}</label><br>`;
                        $("#" + key).addClass("error");
                    });
                } else {
                    str += `<label id= "message-error" class= "error" for= "message">ERROR_400</label>`;
                }
                $("#modalCreate .modal-body .modal-alert-danger").removeClass("hide").addClass("show");
                $("#modalCreate .modal-body .modal-alert-danger").html(str);
            })
        }
    </script>

</th:block>
