<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="modalRestore">
    <div class="modal" tabindex="-1" id="modalRestore">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Khôi phục user</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-alert-danger hide">
                    </div>
                    <form id="frmRestoreUser">
                        <input type="text" id="idRestore" hidden>
                        <div class="row">
                            <div class="col col-md-6">
                                <label for="usernameRestore" class="form-label fw-bold">Tên đăng nhập:</label>
                                <input type="text" class="form-control" id="usernameRestore" name="usernameRestore"
                                       readonly>
                            </div>
                            <div class="col col-md-6">
                                <label for="passRestore" class="form-label fw-bold">Mật khẩu:</label>
                                <input type="password" class="form-control" id="passRestore" name="passRestore">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-6">
                                <label for="staffRestore" class="form-label fw-bold">Nhân viên được cấp:</label>
                                <input type="text" class="form-control" id="staffRestore" name="staffRestore" readonly>
                            </div>
                            <div class="col col-md-6">
                                <label for="uploadRestore" class="form-label fw-bold">Ảnh đại diện:</label>
                                <input type="file" class="form-control" id="uploadRestore"
                                       accept="image/jpeg, image.png"/>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-primary" id="btnRestore">Cập nhật</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $("#btnRestore").on("click", function () {
            $("#frmRestoreUser").trigger("submit");
        });

        function restoreUser() {
            let id = $("#idRestore").val();
            let formData = new FormData();
            formData.append("username", $("#usernameRestore").val().trim().toString());
            formData.append("password", $("#passRestore").val().trim().toString());
            if ($("#uploadRestore")[0].files[0] != null) {
                formData.append("file", $("#uploadRestore")[0].files[0]);
            }
            $.ajax({
                type: "PUT",
                contentType: false,
                cache: false,
                processData: false,
                url: "/api/users/restore/" + id,
                data: formData
            })
                .done(function (data) {
                    $("#tblUserDelete #tr_" + id).remove();
                    $("#modalRestore").modal("hide");
                    $("#frmRestoreUser")[0].reset();
                    swal("Thành công", "User đã được khôi phục", "success");
                })
                .fail(function (jqXHR) {
                    let str = ``;
                    if (jqXHR.responseJSON) {
                        $.each(jqXHR.responseJSON, function (key, value) {
                            str += `<label id= "${key}-error" class="error" for="${key}">${value}</label><br>`;
                            $("#" + key).addClass("error");
                        });
                    } else {
                        str += `<label id= "message-error" class= "error" for= "message">ERROR_400</label>`;
                    }
                    $("#modalRestore .modal-body .modal-alert-danger").removeClass("hide").addClass("show");
                    $("#modalRestore .modal-body .modal-alert-danger").html(str);
                })
        }
        $("#modalRestore").on('hidden.bs.modal', function () {
            $("#modalRestore .modal-body .modal-alert-danger").empty();
            $("#modalRestore .modal-body .modal-alert-danger").removeClass("show").addClass("hide");
            $("#modalRestore input.error").removeClass("error");
            $("#frmRestoreUser")[0].reset();
        });
    </script>

</th:block>
