<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="createMaterial">
    <div class="modal" tabindex="-1" id="createMaterial">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create Material</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-alert-danger hide">
                    </div>
                    <form id="frmCreateMaterial">
                        <div class="row">
                            <div class="col col-md-6">
                                <label for="nameMaterialCre" class="form-label fw-bold">Name</label>
                                <input type="text" class="form-control" id="nameMaterialCre" name="fullNameCreate">
                            </div>
                            <div class="col col-md-6">
                                <label for="priceMaterialCre" class="form-label fw-bold">Price</label>
                                <input type="text" class="form-control" id="priceMaterialCre" name="priceCreate">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-6">
                                <label for="quantityMaterialCre" class="form-label fw-bold">Quantity</label>
                                <input type="text" class="form-control" id="quantityMaterialCre" name="quantityCreate">
                            </div>
                            <div class="col col-md-6">
<!--                                <label for="userMaterialCre" class="form-label fw-bold">User</label>-->

<!--                                <select class="form-select" id="userMaterialCre" th:field="*{user}">-->
<!--                                    <th:block th:each="user: ${users}">-->
<!--                                        <option th:value="${user.id}" th:text="${user.name}"></option>-->
<!--                                    </th:block>-->
<!--                                </select>-->
                            </div>
                        </div>
                        <input type="text" id="catalogsMaterialId"  hidden th:value="${catalogsMaterialId}"  name="catalogsMaterial.id">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-primary" id="btnCreateMaterial">Create Material</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $("#btnCreateMaterial").on("click", function (){
            $("#frmCreateMaterial").trigger("submit");
        });

        function createMaterial(){
            let material = new Material($("#nameMaterialCre").val().trim());
            material.catalogsMaterial={
                id:catalogsMaterialId.value
            };
            material.price=frmCreateMaterial.priceCreate.value;
            material.quantity = frmCreateMaterial.quantityCreate.value;
            $.ajax({
                headers: {
                    "Accept": "application/json",
                    "Content-type": "application/json"
                },
                type: "POST",
                url: "/api/materials/create",
                data: JSON.stringify(material)
            })
                .done(function (data){
                    let str= `
                    <tr id="tr_${data.id}">
                            <td>${data.name}</td>
                            <td>${data.createdAt}</td>
                            <td>${data.price}</td>
                            <td>${data.quantity}</td>
                            <td>${data.user.username}</td>

                            <td><button class="btn btn-outline-warning editMaterial" data-id="${data.id}"><i class="fa fa-pencil-alt"></i></button></td>
                            <td><button class="btn btn-outline-danger deleteMaterial" data-id="${data.id}"><i class="fa fa-trash"></i></button></td>
                        </tr>
                `;
                    $("#tblMaterial").prepend(str);
                    $("#createMaterial").modal("hide");
                    $("#frmCreateMaterial")[0].reset();
                    handlerActionMaterial();
                })
                .fail(function (jqXHR){
                    let str = ``;
                    if (jqXHR.responseJSON) {
                        $.each(jqXHR.responseJSON, function (key, value) {
                            str += `<label id= "${key}-error" class="error" for="${key}">${value}</label><br>`;
                            $("#" + key).addClass("error");
                        });
                    } else {
                        str += `<label id= "message-error" class= "error" for= "message">ERROR_400</label>`;
                    }
                    $("#createMaterial .modal-body .modal-alert-danger").removeClass("hide").addClass("show");
                    $("#createMaterial .modal-body .modal-alert-danger").html(str);
                })
        }

    </script>

</th:block>
